<!DOCTYPE html>
<html>
<head>
  <title>Michelle Brant</title>
  <link rel=styleSheet href="style.css">
  <link rel=styleSheet href="materialize.css">
  <script type="text/javascript" src="jquery.js"></script>
  <script type="text/javascript" src="script.js"></script>
</head>
<body>
Hi
</body>
</html>


<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Harmattan" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway|Raleway+Dots" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bungee|Indie+Flower|Lobster|Montserrat|Nova+Script|Open+Sans+Condensed:300|Oswald" rel="stylesheet">
  <title>Michelle Brant</title>
  </head>
  <div class="head">
    <div class="allme">
      <div class="title_card">
        Michelle Brant <br>
        <hr>
          <div class="allme">
           <p class="dev"> Full Stack Developer</p><br>
          </div>
       </div>
    </div>
     <footer class="navbar-fixed-bottom">
        <div class="container-fluid">
          <p class="learnmore">Learn More About What I Do</p>
          <p class="learnmore">&or;</p>
        </div>
     </footer>
  </div>

<br>
<br>
<br>
<br>

<div id="ABOUTWRAPPER">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">

      <%= image_tag(("me.png"), :class=> 'me') %>
    </div>
    <div class="col-md-7">
      <br>
        <p class="himichelle">Hi, I'm Michelle. I'm a web developer in New York City. </p>
        <p class="byemichelle">I have a passion for technology and creating usable and maintainable products.</p>
        <p class="byemichelle">I am constantly working to learn as much as I can, from the latest Frameworks to new languages and other technologies.</p>
        <p class="byemichelle">Some of my favorite development tools and technologies right now are React.js, Ruby on Rails, and the RaspberryPi I recently started playing with.</p>
        <p class="byemichelle">In my free time you can find my running (probably on the West Side Highway), looking for new music, or taking pictures.</p>
    </div>
  </div>
</div>
</div>

<br>
<br>
<br>
<br>

<div id="SKILLSWRAPPER">
  <div class="skills3">
    <br>
    <br>
      <h1 class="skills4">Full-Stack Development Skills</h1>
      <h2 class="skills4">< / ></h2>
    <br>
    <br>
      <div class="row">
        <div class="col-md-6">
          <h2>Front-End</h2>
          <br>
            <div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-8 byemichelle myskills">
                <p>Extensive knowledge of langauges including HTML5, CSS, Javascript and various frameworks at libraries such as Bootstrap, jQuery, React (Javascript library)</p>
              </div>
            </div>
              <div class="col-md-2">
              </div>
        </div>
        <div class="col-md-6">
          <h2>Back-End</h2>
          <br>
        <div class="row">
          <div class="col-md-2">
          </div>
        <div class="col-md-8 byemichelle myskills">
          <p>Proficient in many back-end languages and technologies including: Node.js, Express.js, PostgreSQl, Ruby on Rails and consistenly working on learning more! </p>
        </div>
        </div>
<div class="col-md-2">
</div>
</div>
</div>
</div>
</div>
</div>
<div class="work">
  <h1 class="skills4">Portfolio</h1>
    <br>
    <br>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class= "tripcontainer">
          <div class="description">
            TravelApp
            <hr>
            <br>
            TravelApp is a full stack Ruby on Rails app that allows users to plan and save trip details all in one place.
            TavelApp allows users to search and save flights, hotels, restaurants, attractions and events using 3 APIs
            (FourSquare, Amadeus and Eventful). Check it out here!
            <br>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="foodcontainer">
          <div class="description2">
            NYC FoodList
            <hr>
            No one is quite as obsessed with find the next food craze like New Yorkers.
            NYC FoodList is a full stack app built on Node.js that allows users to save lists of restaurants for future visits-
            from brunch, to date spots, never be scrambling for ideas again. The app uses the FourSquare API.
            <a href="https://nyc-foodlist.herokuapp.com/">Check it out here!</a>
            <br>
          </div>
        </div>
      </div>
<!--     </div>
  </div>
 -->
<!-- <div class="container">
  <div class="row"> -->
  <div class="col-sm-12 col-md-4">
    <div class="messangercontainer">
      <div class="description3">
          General Assembly Messanger App
          <hr>
          The General Assembly New York Chat App allows students within the area of the GA NY campus. The product of a weekend group challenge to learn a new
          a new language and build an app in it. This chat app is built in Elixir and Phoenix, and includes user authentication,
          location fencing, and live chatting.
          <a href="https://radiant-fortress-11127.herokuapp.com/">Check it out here!</a>
          <br>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="mealcontainer">
        <div class="description4">
            MyMealPlanner
            <hr>
              MyMealPlanner is a full stack app built on Ruby on Rails that allows users to sign up via their
              UnderArmour account using OAuth 2.0 or locally and track their by day, track their weight over time,
              and view breakdowns of their nutrient data.
              <br>
              Test Login: test10011@gmail.com
              <br>
              Password: test123
            <a href="https://my-meal-planner.herokuapp.com">Check it out here!</a>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="contact">
  <br>
  <br>
  <br>
   <h1 class="skills4"> Contact Me </h1>
   <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
     <p class="contactdetails"> Send me an email at michelle.brant18@gmail.com, shoot me a note below, or find me on any of my profiles below!</p>
    </div>
   <div class="col-md-3">
   </div>
   </div>
       <div class="form">
          <form action='/users' method='POST'>
            <label>Name</label><br><br>
              <input name='name'><br><br>
            <label>Email</label><br><br>
              <input name='email'><br><br>
            <label>Note</label><br><br>
              <%= text_area_tag(:message, " ",size: "55x5") %>
              <br><br>
            <button>Submit</button>
          </form>
          <br>
          <br>
          <br>
          <br>
    <%= link_to image_tag("github.png", class: 'hi'), 'https://github.com/michellebrant', :target => "_blank" %>

    <%= link_to image_tag("instagram.png", class: 'hi'), 'https://instagram.com/michellebrant18', :target => "_blank" %>

    <%= link_to image_tag("linkedin.png", class: 'hi'), 'https://www.linkedin.com/in/michellebrant', :target => "_blank" %>

</div>



<!--  <a href="http://example.com/files/myfile.pdf" target="_blank">Download</a>
 LINK TO DOWNLAOD RESUME -->
</body>
</html>
