/* line 1, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
.head {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("BKBridge.jpg") no-repeat 55%;
  background-size: 150%;
  height: 800px;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
}

/* line 13, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
body {
  transition: opacity 300ms ease-out;
}

/* line 16, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
.title_card {
  text-align: center;
  padding-top: 200px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 70px;
}

/* line 24, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
.dev {
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
}

/* line 31, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
.desc {
  text-align: center;
  padding-top: 10px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}

/* line 39, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
.special_m {
  text-align: center;
  color: white;
  font-size: 60px;
  font-family: 'Abril Fatface', cursive;
}

/* line 46, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
.work {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: black;
  background-color: white;
  position: relative;
  margin-top: 400px;
  padding-top: 100px;
  padding-bottom: 100px;
}

/* line 58, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
footer {
  text-align: center;
  color: white;
  font-size: 15px;
  position: fixed;
}

/* line 65, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
p {
  margin-bottom: 10px;
}

/* line 69, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
.learnmore {
  font-family: 'Raleway', sans-serif;
}

/* line 73, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
.skills {
  height: 400px;
  text-align: center;
  color: stylish-color-dark;
  font-family: 'Raleway', sans-serif;
}

/* line 82, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
#ABOUTWRAPPER {
  background-color: white;
  position: relative;
  margin-top: 800px;
  padding-top: 100px;
  padding-bottom: 100px;
}

/* line 90, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
.skills2 {
  margin-top: 50px;
  color: stylish-color-dark;
  font-family: 'Raleway', sans-serif;
}

/* line 97, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
.skills4 {
  color: stylish-color-dark;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-align: center;
}

/* line 104, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
h1 {
  margin: 0 auto;
}

/* line 107, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
h2 {
  color: stylish-color-dark;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

/* line 112, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
.name {
  font-size: 40px;
  float: left;
  color: stylish-color-dark;
  font-family: 'Pacifico', cursive;
  margin: 0 auto;
  padding: 0px;
}

/* line 120, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
p {
  color: stylish-color-dark;
  font-family: 'Raleway', sans-serif;
}

/* line 124, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
ul {
  list-style: none;
  float: right;
}

/* line 128, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
li {
  display: inline-block;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 15px;
  color: stylish-color-dark;
  font-family: 'Raleway', sans-serif;
}

/* line 136, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
.me {
  margin-left: 80px;
}

/* line 140, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
#aboutmebold {
  font-weight: bold;
}

/* line 143, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
.myskills {
  text-align: center;
}

/* line 146, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
.skills3 {
  background-color: white;
  position: relative;
  margin-top: 400px;
  padding-bottom: 100px;
}

/* line 154, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
.tripcontainer {
  background: url("mytrip.jpg") no-repeat 55%;
  width: 502px;
  height: 290px;
  background-size: 100%;
  padding: 10px;
  margin: 10px;
}

/* line 163, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
.foodcontainer {
  background: url("foodlist.png") no-repeat 55%;
  width: 351px;
  height: 203px;
  background-size: 100%;
  margin: 10px;
}

/* line 172, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
.mealcontainer {
  background: url("mealplan.png") no-repeat 55%;
  width: 351px;
  height: 203px;
  background-size: 100%;
  margin: 10px;
}

/* line 181, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
.messangercontainer {
  background: url("messanger.png") no-repeat 55%;
  width: 351px;
  height: 203px;
  background-size: 100%;
  margin: 10px;
}

/* line 190, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
.hover {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

/* line 198, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
.contact {
  height: 700px;
  color: white;
  display: block;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

/* line 207, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
.logo {
  position: center;
  margin-top: 70px;
  margin-bottom: 10px;
}

/* line 213, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
img {
  display: inline-block;
}

/* line 217, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
.contactdetails {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* line 223, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
input {
  width: 400px;
}

/* line 227, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
.bottom {
  background-color: white;
  position: fixed;
}

/* line 232, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
.hi {
  height: 40px;
  width: 40px;
  margin: 40px;
}

/* line 238, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
button {
  color: black;
  font-family: 'Raleway', sans-serif;
}

/* line 243, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
.byemichelle {
  font-size: 17px;
}

/* line 247, /Users/MichelleBrant/code/Personal-Site/app/assets/stylesheets/users.scss */
.himichelle {
  font-size: 20px;
}
