<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bungee|Indie+Flower|Lobster|Montserrat|Nova+Script|Open+Sans+Condensed:300|Oswald" rel="stylesheet">
  <title>Michelle Brant</title>
  </head>
  <div class="head">
  <div class="title_card">
  Hi, I'm Michelle. Welcome.
  </div>
  <footer class="navbar-fixed-bottom">
    <div class="container-fluid">
      <p class="learnmore">Learn More About What I Do</p>
      <p class="learnmore">&or;</p>
    </div>
</footer>
</div>
<nav>
<nav class="navbar-fixed-top navbar navbar-default navbar">
<p class="name">M</p>
  <ul>
    <li><%= link_to "About", "#aboutmejump" %></li>
     <li><a href="" title=""></a>Work</li>
      <li><a href="" title=""></a>Contact</li>
  </ul>
</nav>
<br>
<br>
<br>
<br>
<div id="aboutmejump">
<div class="row">
<div class="col-md-4">
<%= image_tag(("me.png"), :class=> 'me') %>
</div>
<div class="col-md-8">
<h1 class="skills2">About Me</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
</div>
</div>
<br>
<br>
<br>
<br>
<div class="skills3">
<br>
<br>
<h2 class="skills2">Full-Stack Development Skills</h2>
<h2 class="skills2">< / ></h2>
<br>
<br>
<div class="row">
<div class="col-md-6">
<h3>Front-End</h3>
<br>
<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8 myskills">
<p>Extensive knowledge of langauges including HTML5, CSS, Javascript and various frameworks at libraries such as Bootstrap, jQuery, React (Javascript library)</p>
</div>
</div>
<div class="col-md-2">
</div>
</div>
<div class="col-md-6">
<h3>Back-End</h3>
<br>
<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8 myskills">
<p>Proficient in many back-end languages and technologies including: Node.js, Express.js, PostgreSQl, Ruby on Rails and consistenly working on learning more! </p>
</div>
</div>
<div class="col-md-2">
</div>
</div>
</div>
</div>
</div>
<div class="work">
<h2 class="skills2">Portfolio</h2>
<br>
<br>
<div class="container">
<div class="row">
<div class="col-md-6">
<div class="tripcontainer">
<div class="description">
hey hye
<br>
hey hey
<br>
</div>
</div>
</div>
</div>

</div>
</div>

</div>
</body>
</html>
